<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="position:sticky;">
    <a class="navbar-brand" href="/homepage">Movie Booking</a>
    <a id="logout" href="/logout" class="btn btn-danger" style="position: absolute;top: 8px;right: 16px;" >Logout</a>
</nav>